<div class="card">
    <div class="card-header">
        <h5>Herramientas Varias</h5>
    </div>
    
    <div class="card-body">
        <div class="form-group">
            <label>¿De qué linea es este número?</label>
            <input type="number" class="form-control" id="txtToolsTelefono" placeholder="Escriba su número...">
            <button class="btn btn-info btn-rounded form-control" id="btnToolsTelefono">Verificar</button>
        </div>
                
    </div>

    <div class="card-body">
        <div class="form-group">
            <label>Ping a url:</label>
            <input type="text" class="form-control" id="txtToolsPing" placeholder="" value='https://www.google.com'>
            <button class="btn btn-info btn-rounded form-control" id="btnToolsPing">Verificar</button>
        </div>
                
    </div>
   
</div>