<div class="card">
    <div class="card-header">
        <h5>Configuraciones Generales</h5>
        <!--
        <a class="btn btn-icon btn-round btn-default" href="index.html">
            <i class="now-ui-icons users_single-02"></i>
            Salir
        </a>
        -->
    </div>
    <div class="card-body">
        <div class="card-timeline">
            <div class="form-group">
                <label>Correlativo:</label>
                <input type="number" class="form-control" id="txtConfigCorrelativo">
                <button class="btn btn-info btn-rounded form-control" id="btnConfigCorrelativo">Actualizar</button>
            </div>
        </div>

        <div class="card-timeline">
            <div class="form-group">
                <label>Eliminar Todos los Pedidos:</label>
                <button class="btn btn-danger btn-rounded form-control" id="btnConfigBorrarPedidos">Borrar Todos</button>
            </div>
        </div>
        
        <div class="card-timeline">
            <div class="form-group">
                <label>Token:</label>
                <input type="text" class="form-control" id="txtConfigToken">
                <button class="btn btn-info btn-rounded form-control" id="btnConfigToken">Actualizar</button>
            </div>
        </div>

        <div class="card-timeline">
            <div class="form-group">
                <label>Server URL:</label>
                <input type="text" class="form-control" id="txtConfigServerUrl">
                <button class="btn btn-info btn-rounded form-control" id="btnConfigServerUrl">Actualizar</button>
            </div>
        </div>
    </div>
    
</div>